{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>This is a social network application that ensures flow of data in an
             organization and allows interaction among peers. <br>
            You can leave a message to the developer via Gmail @<a href="https://mail.google.com/mail/u/0/#inbox">stillv20@gmail.com</a><br>
            You can follow the developer in Githbu @ <a href="github.com">Veektoor</a>
        </h1>
        <br>
      
    </div>
</div>


{% endblock %}